.container {
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 30px;
    padding: 15px 20px;
    min-height: 150px;
    border: 2px solid
        hsl(var(--accent-color-hue), var(--accent-color-saturation), 92%);
    border-radius: 15px;
}

.content-result {
    color: green;
    font-weight: bold;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.list-item:last-child {
    grid-column-start: 4;
}

.button {
    padding: 0.5em 0.75em;
    border: none;
    border-radius: 10%;
    font-size: 18px;
    background-color: hsl(
        var(--accent-color-hue),
        var(--accent-color-saturation),
        92%
    );
    transition: background-color 0.15s ease;
    cursor: pointer;
}

.button:hover {
    background-color: hsl(
        var(--accent-color-hue),
        var(--accent-color-saturation),
        87%
    );
}
